:root {
    --primary-color: #00A8A8;
    --header-color: white;
    --secondary-color: #0C6980;
    --accent-color: #9FCCC3;
    --accent-color-2: #cbf0e3;
    --main-bg-color: #9FCCC3;
    --main-border-color: #1F628E;
    }
    /* root varients end */

    /* comment out 
    <img src="./assets/images/about.png">

    <img src="./assets/images/skills.png">

    <img src="./assets/images/portfolio.png">

    <img src="./assets/images/contact.png">

    <a href="#about">About</a>
   */
/* universal styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* universal styling end */

/* ID selectors */

body {

}

/* header start */
header {
    background-color: var(--main-bg-color);
    border-bottom: var(--secondary-color) solid 3px;
    padding: 0px 15px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

header h1 {
    font-weight: 200;
    color: var(--secondary-color);
    font-size: 30px;
    display: inline-flex;
    padding-top: 24px;
}

header li {
    flex-direction: row;
}
/* header end */

/* navbar start */
nav {
    display: flex;
}
.nav-img {
    width: 50px;
    height: 50px;
    justify-content: space-around;
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none; 
    border-bottom:none;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.row {
    display: inline-flex;
}

.row img {
    width: 50px;
    height: 50px;
    justify-content: space-between;
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none; 
    border-bottom:none;
}

.row h3 {
    color: var(--secondary-color);
    font-size: 18px;
}

.box-1 {
    margin:auto;
    flex: 0 0 0;
    padding: 15px;
    }
    
    .box-1 h3 {
        font-size: 18px;
        font-display: center;
        text-decoration: none;
    }
/* navbar end */

/* section hero start */
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    background-color: var(--secondary-color);
}

section h3 {
    font-size: 20px;
    color: var(--secondary-color);
}

section h2 {
    font-size: 30px;
    color: white;
}

.hero {
    font-size: 40px;
}

.hero h2 {

}

.hero img {
    max-height: 500px;
    width: 100%;
    display:flex;
}

.hero img h3 {
    text-decoration: none;
}

.hero-image {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../assets/images/hero2.jpg) no-repeat center;
    background-size: cover;
}

.container2{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.container2 h1{
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0;
    text-shadow: 0 0 10px var(--accent-color);
}

.container2 h1 span{
    border: 10px solid white;
    padding: 6px 14px;
    display:inline-block
}
.des{
    margin:20px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px black;
}

.container2-btn{
    color: var(--secondary-color);
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background: pink;
    border-radius: 8px;
    transition: 0.3s all;
    position: absolute;
}

.container2-btn:hover{
    opacity: 0.8;
}

/* hero button start */
#btn{
    width:200px;
    height: 60px;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-bg-color);
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--secondary-color);
    position: absolute;
}

#btn::before{
    font-family: sans-serif;
    color: var(--secondary-color);
    content: "Work Together";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    transition: all 0.5s;
}

#btn:hover::before{
    top:-30px;
}

#btn:after{
font-family: 'ionicons';
content: '\f141';
font-size: 40px;
color: var(--primary-color);
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
top: 140px;
}

#btn:hover::after{
    top: 50%;
    transition: all 0.5s;

}
/* hero button end */
/* section hero end */

/* bio section start */

flex-container {
    display: flex;
    padding-bottom: 20px;
    background-color: var(--accent-color);
    border: 10px solid var(--primary-color);
    padding: 6px 10px;
}

.flex-child-1 {
    flex:1;
    max-height: 500px;
    justify-content: space-around;

    }

    .flex-child-1 img {
        max-width: 350px;
        max-height: 550px;
        border-radius: 40px;
        padding: 10px;
        margin-left: 25px;
    }

.flex-child-2 {
flex:3;
justify-content:left;
padding: 25px;
}

.flex-child-2 h2 {
    font-size: 30px;
    color: var(--secondary-color);
    margin: 0;
}

.flex-child-2 p {
    font-size: 18px;
    color: var(--secondary-color);
    text-align: left;
    margin-right: 60px;
    padding: 10px  0px 10px 0px;
}

/* bio section start */
/* skills section start */

#skills {
    display: block;
    padding: 20px;
    justify-content: center;
}

#skills h2 {
color: white;
margin-bottom: 10px;
margin-top: 20px;
text-align: center;
font-size: 30px;
}

#skills p {
    color: white;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    display: block;
    text-align:center;
    border-bottom: 2px dotted white;
}


/* portfolio card start */
  .portfolio {
    flex: none;
    background-color: var(--secondary-color);
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
  }
  
  .card header {
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 30px;
    justify-content: left;
    color: white;
  }
  
  .card p {
    text-align: left;
    justify-content: center;
    padding-top: 10px;
    color: var(--secondary-color);
    font-size: 16px;
    color: white;
  }
  
  .card img {
    width: 370px;
    height: 175px;
    border-radius: 10px;
    padding:none;
  }

/* portfolio card end */

/* card 2 */

  .portfolio2 {
        flex: none;
        background-color: var(--secondary-color);
        padding: 40px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
  }

  .card2 {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    justify-content: left;
  }
  
  .card2 header {
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 30px;
    color: white;

  }
  
  .card2 p {
    text-align: left;

    padding-top: 10px;
    color: var(--secondary-color);
    font-size: 16px;
    color: white;
  }
  
  .card2 img {
    width: 570px;
    height: 275px;
    border-radius: 10px;
  }


/* footer start */
.footer {
  text-align: center;
  padding: 20px;
  color: var(--secondary-color);
  font-size: 20px;
  background-color: var(--main-bg-color);
  border-top: var(--secondary-color) solid 3px;
}

.footer a {
    padding:5px;
    text-decoration: none;
    color: var(--secondary-color);
}

.footer h3{
    padding: 10px;
    color: var(--secondary-color);
    font-size: 30px;
}
.footer p {
    padding: 25px;
    font-size: 16px;
}
/* footer end */

/* media queries start */
@media only screen and (max-width: 525px) {
    /* For mobile phones: */

    header {
        justify-content: center;
    }

    header h1 {
        font-size: 22px;
        font-weight: 300px;
    }
    flex-container {
        display: flex;
        flex-direction: column;
    }

    .flex-child-1 img {
        display: block;
        margin-left: auto; 
        margin-right: auto;
        width: 50%;  
    }
    .flex-child-2 h2 {
        text-align: center;
        font-size: 22px;
    }

    .flex-child-2 p {
        text-align: left;
        margin-left: auto; 
        margin-right: auto;
        width: 90%;  
    }

    .portfolio {
flex-wrap: wrap;
    }

.container2 h1 {
    font-size: 40px;
}
#btn {
    top: 225px;
}
.des {
    font-size: 20px;
}

.card {
    margin-bottom: 20px;
}

.card2 img {
    width: 450px;
    height: 225px;
    border-radius: 10px;
}

#skills ul li p {
    font-size: 16px;
}
  }

  /* media queries end */