:root {
    --primary-color: #00A8A8;
    --header-color: white;
    --secondary-color: #0C6980;
    --accent-color: #9FCCC3;
    --accent-color-2: #26F7B2;
    --main-bg-color: pink;
    --main-border-color: #1F628E;
    }
    /* root varients end */

    /* comment out 
    <img src="./assets/images/about.png">

    <img src="./assets/images/skills.png">

    <img src="./assets/images/portfolio.png">

    <img src="./assets/images/contact.png">

    <a href="#about">About</a>
   */
/* universal styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#about {

}

#skills {

}

#portfolio {

}

#contact {

}

header {
    background-color: pink;
    border-bottom: var(--secondary-color) solid 3px;
    padding: 25px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

header h1 {
    font-family: cursive;
    color: var(--secondary-color);
    font-size: 28px;
    display: inline-flex;
    padding-top: 20px;
    letter-spacing: 0.3em;
}

header li {
    flex-direction: row;
}


nav {
    display: flex;
}
.nav-img {
    width: 50px;
    height: 50px;
    justify-content: space-around;
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none; 
    border-bottom:none;

}

.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.row {
    display: inline-flex;
}

.row img {
    width: 50px;
    height: 50px;
    justify-content: space-between;
    color: var(--secondary-color);
    font-size: 18px;
    text-decoration: none; 
    border-bottom:none;
}

.row img:hover {
    color: var (--accent-color-2)
}

.row h3 {
    color: var(--secondary-color);
    font-size: 18px;
}


body {

}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    background-color: white;
}

section h3 {
    font-size: 20px;
    color: var(--secondary-color);
}

.hero {
    font-size: 40px;
}

.hero h2 {

}

.hero img {
    max-height: 500px;
width: 100%;
display:flex;
}

.hero img h3 {
    text-decoration: none;
}

.hero-image {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: url(../assets/images/hero-banner.png) no-repeat center;
    background-size: cover;
}

.container2{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.container2 h1{
    font-size: 72px;
    letter-spacing: 0.2em;
    margin: 0;
    text-shadow: 0 0 10px var(--accent-color);
}

.container2 h1 span{
    border: 10px solid white;
    padding: 6px 14px;
    display:inline-block
}
.des{
    margin:20px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px black;
}

.container2-btn{
    color: var(--secondary-color);
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background: pink;
    border-radius: 8px;
    transition: 0.3s all;
    position: absolute;
}

.container2-btn:hover{
    opacity: 0.8;

}

#btn{
    width:200px;
    height: 60px;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--main-bg-color);
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

#btn::before{
    font-family: sans-serif;
    color: var(--secondary-color);
    content: "Hire Me";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    transition: all 0.5s;
}

#btn:hover::before{
    top:-30px;
}

#btn:after{
font-family: 'ionicons';
content: '\f141';
font-size: 40px;
color: red;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
top: 140px;
}

#btn:hover::after{
    top: 50%;
    transition: all 0.5s;

}
.box-1 {
margin:auto;
flex: 0 0 0;
padding: 15px;
}

.box-1 h3 {
    font-size: 18px;
    font-display: center;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 20px;
    background-color: white;
}

.box-2 {
    margin:auto;
    flex: 0 0 0;
    padding: 25px;
}

.box-2 h3 {
    font-size: 24px;
    color: var(--secondary-color);
}

.box-2 p {
    padding: 10px;
    color: var(--secondary-color);
    font-size: 16px;
}
.footer {
  text-align: center;
  padding: 20px;
  color: var(--secondary-color);
  font-size: 20px;
  background-color: var(--main-bg-color);
}

.footer a {
    padding:5px;
    text-decoration: none;
    color: var(--secondary-color);
}

.footer p {
    padding: 5px;
}

@media only screen and (max-width: 896px) {
    /* For mobile phones: */
[class="#"] {

    }
  }